<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-md-6 col-md-offset-3">
        	    <div class="form-wrap">
                <h3 class="text-center">Iniciar Sesion</h3>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="username" class="sr-only">Usuario</label>
                            <input type="text" name="username" class="form-control" placeholder="Usuario" can-value="user.username">
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Contrasena</label>
                            <input type="password" name="password" class="form-control" placeholder="Contrasena" can-value="user.password">
                        </div>
                        <button class="btn btn-danger btn-hg btn-block" can-click="login">Login</button>
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
