<div class='order-detail col-lg-7 col-sm-12'>
	{{#orderProducts.length}}
	<h4>Detalle de Orden</h4>
	{{/orderProducts}}
	<order-products orderProducts = '{orderProducts}'>
		{{#orderProducts.length}}
			<div class='products-list col-lg-8'>
				<div class="force-overflow">
					<div class="list-group" >
						{{#each orderProducts}}
						<a href="javascript://" class='list-group-item'>
							<span class="fa fa-check"></span>
							{{name}}
							<span class="badge" can-click='increaseProductQuantity'><i class='fa fa-plus'></i></span>
							<span class="badge">{{quantityToSell}}</span>
							<span class="badge" can-click='decreaseProductQuantity'><i class='fa fa-minus'></i></span>
							<p class='list-group-item-text'>Precio: Lps.{{price}}</p>
						</li>
						{{/each}}
					</div>
				</div>
			</div>
			{{>views/saleorder/order-calculations.mustache}}
		{{/orderProducts.length}}
	</order-products>
</div>