<div class='col-lg-5 col-sm-12'>
	<query-products products = '{products}'>
	<div class="pull-left search-container">
		<input class="form-control search-inventory" type="text" placeholder="Buscar producto">
	</div>
	{{#products.length}}
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th> Codigo </th>
				<th> Nombre </th>
				<th> Cantidad </th>
				<th> Precio </th>
			</tr>
		</thead>
		<tbody>
			{{#each products}}
			<tr can-click='selectProduct'>
				<td> {{code}} </td>
				<td> {{name}} </td>
				<td> {{quantity}} </td>
				<td> Lps. {{price}} </td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	{{/products.length}}
	</query-products>
</div>