<thead>
	<tr>
		<th> Nombre </th>
		<th> Cantidad Vendida</th>
		<th> Subtotal </th>
		<th> Fecha Venta</th>
	</tr>
</thead>
<tbody>
	{{#each products}}
		{{#each items}}
		<tr>
			<td> {{name}} </td>
			<td> {{quantityToSell}} </td>
			<td> Lps.{{subtotal}} </td>
			<td> {{formatDate date}} </td>
		</tr>
		{{/each}}
	<tr>
		<td colspan="4"><strong>Total Venta: Lps.{{total}}</strong></td>
	</tr>
	{{/each}}
</tbody>
