<div class='order-detail col-lg-7'>
	<h4>Detalle de Orden</h4>
	<order-products orderProducts = '{orderProducts}'>
	<ul class="list-group">
		{{#each orderProducts}}
		<li class="list-group-item active">
			<span class="badge" can-click='increaseProductQuantity'><i class='fa fa-plus'></i></span>
			<span class="badge">{{QUANTITY}}</span>
			<span class="badge" can-click='decreaseProductQuantity'><i class='fa fa-minus'></i></span>
			{{NAME}}
			<p class='list-group-item-text'>Precio: Lps.{{PRICE}}</p>
			<p class='list-group-item-text'>Total: Lps.{{TOTAL}}</p>
		</li>
		{{/each}}
	</ul>
	</order-products>
</div>