<div class="container inventory">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="search-container">
				<input class="form-control search-inventory" type="text" placeholder="Buscar en inventario">
			</div>
		</div>
		{{^products}}
		<div class="col-md-6 col-sm-12">
			<h4>No se encontraron productos en el sistema</h4>
		</div>
		{{/products}}
	</div>
	{{#if products.length}}
	<table class="table table-hover inventory-table">
		{{>views/inventory/inventory-table.mustache}}
	</table>
	<div class="text-center pagination-container">
		{{>views/inventory/pagination.mustache}}
	</div>
	{{/if}}
</div>
