<div class="container inventory">
	<div class="pull-left search-container">
		<input class="form-control search-inventory" type="text" placeholder="Buscar en inventario">
	</div>
	<table class="table table-hover inventory-table">
		{{>views/inventory/inventory-table.mustache}}
	</table>
	
</div>