<thead>
	<tr>
		<th> Codigo </th>
		<th> Nombre </th>
		<th> Cantidad </th>
		<th> Precio/Unidad </th>
		<th> Proveedor </th>
	</tr>
</thead>
<tbody>
	{{#each products}}
	<tr>
		<td> {{CODE}} </td>
		<td> {{NAME}} </td>
		<td> {{QUANTITY}} </td>
		<td> {{PRICE}} </td>
		<td> {{PROVIDER}} </td>
	</tr>
	{{/each}}
</tbody>